[submodule "Hazel-learn/vendor/spdlog"]
	path = Hazel-learn/vendor/spdlog
	url = https://github.com.cnpmjs.org/gabime/spdlog.git
[submodule "Hazel-learn/vendor/GLFW"]
	path = Hazel-learn/vendor/GLFW
	url = https://github.com/haolly/glfw
[submodule "Hazel-learn/vendor/imgui"]
	path = Hazel-learn/vendor/imgui
	url = https://github.com/haolly/imgui
[submodule "Hazel-learn/vendor/glm"]
	path = Hazel-learn/vendor/glm
	url = https://github.com/g-truc/glm
[submodule "Hazel-learn/vendor/yaml-cpp"]
	path = Hazel-learn/vendor/yaml-cpp
	url = https://github.com/haolly/yaml-cpp
[submodule "Hazel-learn/vendor/ImGuizmo"]
	path = Hazel-learn/vendor/ImGuizmo
	url = https://github.com/haolly/ImGuizmo
